body {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap; 
    /* max-height: ; */
}

body > div {
    justify-content: center;
    vertical-align: middle;
}

#background {
    background-image: "../img/ta_bien.png";
}

.body >input {
    color: black;
    width: auto;
}

h3 {
    font-size: large;
    color: green;
}